@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-family: "Poppins";
    font-size: 14px;
    line-height: 18px;
}

main {
    color: white;
    background-color: #ff4105;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    background-color: black;
    color: white;

    box-shadow: 0px 4px 12px black;
    position: relative;
    z-index: 10;
}

header h1{
    font-style: 22px;
    font-weight: 500;
    color: #ff4105;
}

header nav{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header nav a{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

header nav a:hover{
    transform: scale(1.2,1.2);
    transition: 0.1s;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
}

.home-cta{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;

    height: 500px;
    padding: 0 1.5rem;


    background-image: url(/assets/img/redSnake.jpg);
    background-repeat: no-repeat;
    background-position: -3rem;
    background-size: 500px;
    

    a{
        background-color: white;
        width: fit-content;
        padding: 0.75rem 1.5rem;
        border-radius: 0.5rem;
        font-size: 14px;
        color: #ff4105;
        text-decoration: none;
    }
}

.home-cta a:hover{
    transform: scale(1.1,1.1);
    transition: 0.1s;
}

.home-heading {
    display: flex;
    flex-direction: column;

    h1{
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
        margin: 0;
    }

    p{
        line-height: 24px;
        margin: 0;
    }
}

